body{
    max-width: 1170px;
    background-color: bisque;
    margin: 0 auto;
}


.card{
    width: 300px;
    border: 2px solid sandybrown;
    border-radius: 20px;
    padding: 10px;
    box-shadow: 10px 10px 10px rgb(118, 118, 118);
}

.card img{
    width: 100%;
    height: 350px;
    border-radius: 20px;
}

.card h3{
    font-size: 2rem;font-weight: 700;
}
.card:hover{
    background-color: aquamarine;
}
.card button{
    background-color: blueviolet;
    padding: 10px;
    font-weight: 600;
    color: white;
    border:none;
}

.card button:hover{
    background-color: chartreuse;
    cursor:pointer;
}

.card-container{
    display: flex;
    gap: 30px;
    flex-wrap: wrap;
}

.card-section{
    text-align: center;
}